#content-wrapper								{margin: 0 auto;
												 padding: 5px;}
												 
#footer-wrapper									{background-color:#242F3E;
												 padding:5px;}
								 
#footer-wrapper	h6								{margin:0px;
												 color:#FFF;}

#intro .well									{width:40%;
												 display:inline;
												 float:left;
												 margin:5px;}
												 
#intro											{overflow:hidden;}

#intro img										{float:left;
												 display:inline;
												 margin:10px;}